.pink__background {
    background-color: var(--background-color);
}
.pagination span{
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    color: var(--heading-color);
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
}

.active__page{
    background: var(--secondary-color);
    color: #fff !important;
}